/data/
/models_old/
/runs/
/checkpoints/
/misc/
/*.tar
/*.pth
/*.csv
/*.xml
/un_metrics_temp.txt
/buffers1.txt
/params1.txt
/params2.txt
/models/*_ucsd*.hdf5
/models/*_sars*.hdf5
/models/*_covidx*.hdf5
/imc_models/
/logs/